/* Table Styles */
table {
    width: 85%; /* Adjust to 80% for a better fit on mobile */
    margin: 10px auto;
    border-collapse: collapse;
    background-color: black;
    color: white;
    border: 2px solid maroon;
    table-layout: fixed; /* prevents cells from stretching */
    font-size: clamp(10px, 3.5vw, 18px); /* scale text based on screen size */
}
.player-info-table{
    font-size: clamp(14px, 10vw, 28px);
}

#metaHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
#filterSection {
    padding-top: 10px;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid maroon;
    overflow: hidden;
    text-overflow: ellipsis;
}
td {
    white-space: nowrap;

}
th {
    background-color: maroon;
    cursor: pointer;
}

/* Body Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Filters Section */
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: 71px;
    /* padding: 15px; */
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: maroon;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 8px;
}
h1 {
    /* background-color: maroon; */
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto;
    font-size: 75px;
}
input[type="text"] {
    width: 100px; /* Adjusted for first name (9 chars) */
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}
input[type="text"], .search-input {
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.slider {
    width: 70px;
}

.slider-values {
    font-size: 14px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: maroon;
    padding: 10px;
}
.nav-links {
    display: flex;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 5px 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: darkred;
    color: lightsalmon; 
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
}

#categorySelector{
    /* width: 150px; */
    height: 40px;
    border: none;
    border-radius: 5px;  
    text-align: center;
    color: white;
    /* border: 2px solid maroon; */
    background-color: maroon; 
    font-size: 30px;
    /* margin-bottom: 31px; */
    
}

/* #toggleFilterButton{
    height: auto;
    margin-bottom: 31px;
} */
#genderFilter, .num-input {
    width: 60px; /* Narrower for gender select */
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}


.num-input {
    width: 50px;
}

.search-input {
    width: 75px; /* Adjusted for first name (9 chars) */
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}
input[type="text"]#clubFilter {
    width: 75px; /* Adjusted for club (9 chars) */
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}
/* Suggestion Box Styles */
.suggestion-box {
    position: absolute;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px solid maroon;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: maroon;
}

@media (max-width: 768px) {
    table {
        width: 95%;
    }
    #metaHeader{
        width: 95%;
    }
    .filters {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .filter-container {
        width: 100%;
    }

    .slider, .slider-container, input[type="text"], .num-input, select {
        width: 90%;
    }

    .slider-container {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 56px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }

    .hamburger {
        display: flex;
    }

    .mobile-hidden-col {
        display: none;
    }
    /* Nested overrides for very small screens */
    @media (max-width: 480px) {
        table {
            width: 100%;
        }
        #metaHeader {
            width: 100%;
        }

        td, th {
            padding: 4px;
        }


        .filters {
            gap: 5px;
        }

        .slider, .slider-container, input[type="text"], .num-input, select {
            width: 90%;
        }

        .slider {
            width: 100%;
        }

        .slider-container {
            flex-direction: column;
        }

        .num-input {
            width: 70px;
        }

        .search-input {
            width: 100%;
        }

        .suggestion-box {
            width: 100%;
        }

        h1 {
            font-size: 35px;
        }
    }
}



.nav-links.active li {
    text-align: center;
    background-color: maroon;
    padding: 10px;
    width: 80%;
}
.nav-links.active a {
    padding: 10px;
    width: 100%;
    text-align: center;
}
.suggestion-container {
    position: relative;
    display: inline-block;
}


.wide-filter-select{
    width: 100px; 
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid maroon;
}
button{
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    border: 1px solid maroon;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    /* margin: 15px auto;
    display: block; */
}


button:hover {
    background-color: darkred;
}
.player-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.player-link:hover {
    color: maroon;
}
.player-club {
    color: white;
    margin: 0 0 10px 0;
    font-size: clamp(18px, 3vw, 32px); /* smaller, dynamic */
}

.player-rating {
    color: white;
    margin: 0 0 18px 0;
    font-size: clamp(30px, 5vw, 48px); /* larger, dynamic */
}
#header-title {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;

    max-width: 100%;
    white-space: normal; /* allow wrapping */
    /* word-break: break-word; */
    
    line-height: 1.1;
    font-size: clamp(35px, 5vw, 75px); /* dynamic font size */
}
.match-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 20px auto;
    padding-top: 10px;
    /* position: relative; */
}

.match-history-title {
    margin: 0;
    text-align: center;
    flex: 1;
}


.match-history-title {
    margin: 0;
    text-align: left;
    flex: 0;
    white-space: nowrap;
}


/* Score column styling */
.small-column {
    width: clamp(20px, 7vw, 35px);
    text-align: center;
    /* font-size: 0.9em; */
}



.site-footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-size: 0.9em;
    color: #333;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.footer-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.footer-links a:hover {
    text-decoration: underline;
}
